
<div class="container">
  <br>
  <div class="col-12">



      <div class="form-group row">
        <label for="cep" class="col-sm-2 col-form-label">Cep</label>
        <div class="col-sm-2">

        <input type="text" class="form-control" id="cep" placeholder="00000-000" [(ngModel)]="cep.cep"/>
        </div>
        <div class="col-sm-2">
          <button type="button" name="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="logradouro" class="col-sm-2 col-form-label">Logradouro</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]='cep.logradouro' id="logradouro" placeholder="logradouro">
        </div>
      </div>
      <div class="form-group row">
        <label for="complemento" class="col-sm-2 col-form-label">Complemento</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]='cep.complemento' id="complemento" placeholder="Complemento">
        </div>
      </div>
      <div class="form-group row">
        <label for="bairro" class="col-sm-2 col-form-label">Bairro</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"[(ngModel)]='cep.bairro'  id="bairro" placeholder="Bairro">
        </div>
      </div>
      <div class="form-group row">
        <label for="localidade" class="col-sm-2 col-form-label">Localidade</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"[(ngModel)]='cep.localidade'  id="localidade" placeholder="Localidade">
        </div>
      </div>
      <div class="form-group row">
        <label for="uf" class="col-sm-2 col-form-label">Uf</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]='cep.uf' id="uf" placeholder="uf">
        </div>
      </div>
      <div class="form-group row">
        <label for="unidade" class="col-sm-2 col-form-label">Unidade</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]='cep.unidade' id="unidade" placeholder="Unidade">
        </div>
      </div>
      <div class="form-group row">
        <label for="ibge" class="col-sm-2 col-form-label">Ibge</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]='cep.ibge' id="ibge" placeholder="Ibge">
        </div>
      </div>
      <div class="form-group row">
        <label for="gia" class="col-sm-2 col-form-label">Gia</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]='cep.gia' id="gia" placeholder="gia">
        </div>
      </div>


</div>
</div>
